@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    48deg,
    rgba(0, 24, 151, 1) 7%,
    rgba(0, 0, 0, 1) 97%
  );
}

h1 {
  text-align: center;
  font-family: "Rowdies", cursive;
  color: white;
}

#foodItem {
  width: 350px;
  border: 1px solid lightgray;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
}

img {
  border-radius: 15px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  transition: 0.5s;
}

button:hover {
  background-color: red;
  border: red;
  border-radius: 6px;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
}
